<!Doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="static/j-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.9/angular.min.js"></script>
    <script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>
    <script src = "controller.js"></script>
  </head>

  <body ng-app = "gameApp" ng-controller = "gameCtrl" ng-init="init()" class="container"> 
    <h1 class="title">{{ title }}</h1>
    <p><b>{{ round.name }}</b></p>

    <div class="row header">
      <category ng-repeat="(key, value) in round['categories']">
        <div class="col-xs-2"> <div class="screen categories" >{{ key }}</div>
        </div>
      </category>
    </div>
    <div class="row questions">
      <category ng-repeat="(cat, questionSet) in round['categories']" class="col-xs-2">
            <question ng-repeat="(dollars, QandA) in questionSet">
                 <div class="row">
                    <div class="col-xs-12">
                        <div ng-show="showOption" class="screen" ng-click='showQ(QandA, dollars); showOption = !showOption;'>
                          <span class="dollars">${{ dollars }}</span>
                        </div>
                        <div ng-show="!showOption" class="screen">
                        </div>
                    </div>
                 </div>
            </question>
      </category>
    </div>
    <div class="row results">
      <div class="col-xs-3 col-xs-offset-2">
        <div class="screen">
          <p>
            {{ player1.name }}<br>
            $ {{ player1.score}}
          </p>
        </div>
      </div>
      <div class="col-xs-2">
        <button type="button" class="finaljbtn" ng-click="showFinal">Final Jeopardy</button>
        
      </div>
      <div class="col-xs-3">
        <p class="screen">
          {{ player2.name }} <br>
          $ {{ player2.score}}
        </p>
      </div>
    </div>
    <!-- The actual modal template, just a bit o bootstrap -->
      <script type="text/ng-template" id="splash.html">
         <div class="modal fade">
            <div class="modal-content" id="splash">
              <div class="modal-body">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <button type="button" class="btn splash-btn" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">Lets Play!</button>
            </div>
        </div>
     </script>
     <script type="text/ng-template" id="question.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content screen">
              <div class="modal-body">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p>{{ currentQ }}</p>
              <div class="col-xs-6">
                <fieldset ng-disabled="wrong1">
                  <button type="button" ng-click="close(player1)" class="btn btn-success playerbtn" data-dismiss="modal">{{ player1.name | uppercase }}</button>
                  <button type="button" ng-click="loss(player1, dollars); wrong1=true" class="btn btn-danger playerbtn">{{ player1.name | uppercase }}</button>
                </fieldset>
              </div>
              <div class="col-xs-6">
                <fieldset ng-disabled="wrong2">
                  <button type="button" ng-click="close(player2)" class="btn btn-success playerbtn" data-dismiss="modal" ng-disabled="wrong2">{{ player2.name | uppercase }}</button>
                  <button type="button" ng-click="loss(player2, dollars); wrong2=true" class="btn btn-danger playerbtn" ng-disabled="wrong2">{{ player2.name | uppercase }}</button>
                </fieldset>
 
            </div>
          </div>
        </div>
     </script>
     <script type="text/ng-template" id="answer.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content screen dollars">
              <div class="modal-body">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p>{{ currentA }}</p>
              </div>
            </div>
          </div>
        </div>
     </script>
  </body>
</html>