body {
    background: gray;
    text-align: center;
    font-family: 'Impact', sans-serif;
}
@font-face {
    font-family: 'gyparody';
    src: url('fonts/gyparody.ttf')
    format('truetype');
}

@font-face {
    font-family: 'korinna';
    src: url('fonts/KorinnaBold.ttf')
    format('truetype');
}

.title {
    color: white;
    font-family: 'gyparody', sans-serif;
    font-size: 100pt;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}

.header {
    color: #F92727;
    background: #B6B6B6;
    font-size: 23pt;
    font-weight: bold;
    padding: 10px 0 10px 0;
}

.questions {
    background: #B52525;
}
.screen {
    background: #F92727; /* For browsers that do not support gradients */
    background-image: 
        linear-gradient(
            silver,
            #EBEBEB 10%,
            #C4C2C2 35%
        );
    border: solid silver;
    height: 120px;
    margin: 10px 0 5px 0;
    border-radius: 10px;
    padding: 20px 5px 20px 5px;
}

.categories {
    background: white;
}
.dollars {
    color: white;
    font-size: 40pt;
    font-weight: bold;
    display: inline-block;
    text-shadow: 2px 2px 2px #000;
}
.results {
    font-size: 20pt;
    font-weight: bold;
}

.modal-content {
    height: auto;
}

.modal p {
    font-family: 'korinna', sans-serif;
}

.playerbtn{
    border: solid silver;
    border-radius: 10px;
}